body {
  background-color: rgb(152, 213, 250);
  text-align: center;
  background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

header {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}

footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}
h1 {
  color: rgb(14, 14, 14);
  margin-left: 0px;
}

h3 {
  color: rgb(0, 0, 0);
}

h4 {
  color: rgb(14, 14, 14);
  margin-left: 0px;
}
button {
  background-color: #06b3aa;
  color: #ffffff;
  padding: 1% 0.5%;
  border: 1px;
  border-radius: 30px;
  cursor: pointer;
  margin: 1% auto;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
  font-size: 100%;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

/* Estilos generales para el menú --------------------------------------------------------------------------------*/
nav {
  display: flex; /* Usamos flexbox para organizar los enlaces */
  justify-content: space-around; /* Distribuye los enlaces de manera uniforme */
  flex-wrap: wrap; /* Permite que los enlaces pasen a la siguiente fila en pantallas pequeñas */
  margin-bottom: 2px; /* Espaciado entre menús */
  padding: 0 5px;
}

.menu-link {
  text-decoration: none; /* Elimina el subrayado */
  color: #fff; /* Color de texto */
  padding: 10px 15px; /* Espaciado interno */
  background-color: #333; /* Fondo de los enlaces */
  margin: 5px; /* Espaciado entre enlaces */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición de color al pasar el ratón */
  box-sizing: border-box;
}

.menu-link:hover {
  background-color: #007bff; /* Color de fondo cuando se pasa el ratón */
}

/*-----------------------------------------------------------------------------------------------------------------*/

button:hover {
  background-color: #08594c;
  color: rgb(255, 255, 255);
}

#boton-buscar:hover {
  background-color: #08594c;
  color: rgb(255, 255, 255);
}

#vaciar-carrito:hover {
  background-color: #08594c;
}

.menu-link:hover {
  background-color: #058a74;
}

nav a {
  text-align: center;
  margin: 0 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: 10px;
  color: #000225;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}

form {
  background-color: rgb(38, 79, 105);
  text-align: center;
  padding: 10px 10px;
  color: rgb(247, 247, 247);
}

.ver-detalle {
  background-color: #06b3aa;
  color: #ffffff;
  padding: 1% 0.5%;
  border: 1px;
  border-radius: 30px;
  cursor: pointer;
  margin: 1% auto;
  display: block;
  width: 8%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
  font-size: 100%;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.ver-detalle:hover {
  background-color: #08594c;
  color: rgb(255, 255, 255);
}

/* Buscador */
#buscador {
  width: 300px;
  height: 70px;
  background-color: rgb(38, 79, 105);
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
}

#buscar {
  width: 100%;
  height: 30px;
  margin: auto;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.922);
}

#boton-buscar {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: 5px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
  font-size: 12px;
}

#resultados {
  margin-top: 20px;
}

.imagen-centrada {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}

/* Flex para logos de redes sociales */

.container3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  height: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Flex del menu con imágenes comprar por rubro*/

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: rgb(14, 216, 213);
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.item {
  background: rgb(38, 79, 105);
  width: 100%;
  max-width: 45%;
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
}

img {
  width: 100px;
  height: 120px;
  display: block;
}

.logo {
  width: 25px;
  height: 25px;
  display: block;
}

.pdg {
  width: 150px;
  height: 150px;
  display: block;
}

.pdgb {
  width: 325px;
  height: 125px;
  display: block;
}
.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
  width: auto;
  height: 150px;
  justify-content: space-around;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}
/*
.item-2 {
  background: rgb(255, 255, 255);
  width: auto;
  height: auto;
  content: auto;
  box-sizing: border-box;
}
*/
.items {
  background: rgb(231, 237, 238);
  width: auto;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  align-items: center;
}

/* visited link 
style div.gallery {
  margin: 5px;
  border: 100px solid #db0707;
  float: left;
  width: 180px;
}
  */

table {
  border-collapse: collapse;
  width: 40%;
  margin: 0 auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.922);
}

td {
  text-align: center;
  border-bottom: auto solid grey;
  padding-top: 1em;
}

.listado-productos {
  display: grid;
  padding: 1%;
  gap: 0.5em;
}

.listado-productos article {
  padding: 0.5em;
  border: 1px solid gray;
  height: auto;
}

.listado-productos img {
  width: 20%;
  max-width: 400%;
  display: block;
  height: auto;
  margin: 0 auto;
}

/* Media Query */

/* Estilos responsivos */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .menu-link {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}

@media only screen and (max-width: 400px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    background: rgb(152, 213, 250);
    font-size: 10px;
  }
}

/* Small devices (600px and up) */

@media only screen and (max-width: 600px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    background: rgb(152, 213, 250);
    font-size: 10px;
  }
}

/* Medium devices (768px and up) */

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
  }
}

/* Extra large devices (1200px and up) */

@media only screen and (min-width: 1200px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
  }
}
